
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .Title }}{{ .Title }} – {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="header">
    <div class="header-inner">
      <div class="title">{{ .Site.Title }}</div>
      <div></div>
    </div>
  </header>
  <div class="container">
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </div>
</body>
</html>
